* {
    font-family: 'Segoe script',Lucida;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom,#ee1a8e,#dd8db9);
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background: linera-gradient( to right,#ee1a8e,#dd8db9);
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}